@import "tailwindcss";

@theme {
  --color-ash-grey: #cad2c5ff;
  --color-muted-teal: #84a98cff;
  --color-deep-teal: #52796fff;
  --color-dark-slate-grey: #354f52ff;
  --color-charcoal-blue: #2f3e46ff;
  --font-sans: "Roboto", "Inter", system-ui, sans-serif;
}

.container {
  @apply mx-auto px-4 max-w-6xl;
}

.font-caveat {
  font-family: "Caveat", cursive;
}
.ao-name{
  width: 120px;
  overflow:hidden;
  white-space: nowrap;
  animation: typeWriter 1s 1s both;
  -webkit-animation: typeWriter 1s 1s steps(12) both;
}
/* Animation */
@keyframes typeWriter {
  from{
    width: 0;
  }
  to{
    width: 120px;
  }
}

@keyframes blink {
  from{
    border-right-color: var(--main-color);
  }
  to{
    border-right-color: transparent
  }
}